<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744774805122-hfenptig73pid815878b4q5afn3sid28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744774805122-hfenptig73pid815878b4q5afn3sid28</string>
	<key>API_KEY</key>
	<string>AIzaSyAFX2o9ET2pbovS63aVqw5zuEovkGXdwj8</string>
	<key>GCM_SENDER_ID</key>
	<string>744774805122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.iOSApp</string>
	<key>PROJECT_ID</key>
	<string>devrel-ab09c</string>
	<key>STORAGE_BUCKET</key>
	<string>devrel-ab09c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744774805122:ios:fe83c852d802f1fd</string>
	<key>DATABASE_URL</key>
	<string>https://devrel-ab09c.firebaseio.com</string>
</dict>
</plist>